.header{
    height:70px;
    width:100%;
    background-color:#0D6CB9;
    display:flex;
    justify-content: space-between;
    align-items: center;

    .contact{
        color:white;
        opacity: 0.7;
        margin-left:10%;


        a{
            margin-right:50px;
            font-size: 15px;
            
        }


    }


    .button{
        margin-right:10%;
        button{
            color:white;
            border-radius: 20px;
            width:140px;
            height:38px;
        }
    }
}