
.navigation{
    height:100px;
    width:auto;
    background-color:rgba(0, 0, 0, 0.11);
    padding-left:10%;
    padding-right:10%;
    h1{
        color:white;
        font-weight: 250;
    }
    .navigation_leiste{
        color:rgba(255, 255, 255, 0.7);
        a{
           
            margin-left:25px;
            font-weight: 100px;

            &:hover{
                cursor: pointer;
               
            }
        }  
    }
}

.navbar-custom{
    height:100px;
    

}

.navbar-brand{
    margin-left:50px;
    

}

.navbar{
    color:white;
    background-color:rgba(0, 0, 0, 0.11);
    
}
.navbar-nav{
    display:flex;
    margin-left:50%;
}
.navbar-brand-color{
    color:white;
    text-decoration: none;
    font-size: 40px;
    font-weight: 200;
}
.nav-link{
    color:white;
}