.navigation{
    height:100px;
    width:auto;
    background-color:rgba(0, 0, 0, 0.11)

}

.navigation{
    padding-left:10%;
    padding-right:10%;



    h1{
        color:white;
        font-weight: 250;
    }

    .navigation_leiste{
        color:rgba(255, 255, 255, 0.7);


        a{
           
            margin-left:25px;
            font-weight: 100px;

            &:hover{
                cursor: pointer;
               
            }
        }

     
    }


}

.navbar-custom{
    height:100px;
    

}

.navbar-brand{
    margin-left:50px;

}

.navbar{
    color:white;
    background-color:rgba(0, 0, 0, 0.11);
    

}
.navbar-brand{
    color:white;

    &:hover{
        color:white;

    }
}

.navbar-nav li a{
    color:rgba(255, 255, 255, 0.555);
    text-decoration: none;

    &:hover{
    color:white;
}
}

.navbar-nav{
    display:flex;
    margin-left:50%;
}
